.parallax{

    background-image: url('https://media-exp1.licdn.com/dms/image/C4E12AQEr6uqlXZlPxw/article-cover_image-shrink_600_2000/0?e=1604534400&v=beta&t=HEVoJVhswjgoOzn9rmOtYPlmgC7Cr9g6L9NaenmkYLk');

    min-height: 600px;


    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}