<div class="container">

 
  
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]='userLogin.usuario'>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]='userLogin.senha'>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-sucess w-25" (click)='entrar()'>Entrar</button>
        </div>
      </form>
  
      
      
    </div>
  </div>
</div>